<section class="bg-light py-5 text-center ">
    <div class="container">
        <div class="col-lg">
          <h3>Contact</h3>
          <p>
            Consectetur neque numquam autem animi?
          </p>
          <form action="">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <i class="fas fa-user input-group-text"></i>
              </div>
              <input type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <i class="fas fa-envelope input-group-text"></i>
              </div>
              <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <i class="fas fa-pencil-alt input-group-text"></i>
              </div>
              <textarea name="" cols="30" rows="10" placeholder="Mensaje" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Send</button>
          </form>
        </div>
      
    </div>
  </section>

  <footer>
    <div class="container p-3">
      <div class="row text-center">
        <div class="col ml-auto">
          <p>Copyright &copy; 2018</p>
          
        </div>
      </div>
    </div>       
  </footer>
