<div class="main-header">
    <div class="background-overlay text-white py-5">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 text-center justify-content-center align-self-center">
                    <h1>La experiencia de vivir tus vacaciones</h1>
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, alias?
                    </p>
                    <a href="#" class="btn btn-outline-primary btn-lg">
                        Saber mas
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="/assets/cancun.jpg" alt="Cancun" class="img-fluid d-none d-sm-block">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control form-control-lg" placeholder="Ingrese su nombre">
            </div>
            <div class="col-md-4">
                <input type="email" class="form-control form-control-lg" placeholder="Ingrese su email">
            </div>
           
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block">  
                    Suscribirse
                </button>
            </div>
        </div>
    </div>
</section>