
<section class="text-center destinos">
     <div class="container p-5">

      <h1 class="text-center ">Destinos populares</h1>
      <p class="text-black">
        Adipisicing unde eum odio aliquam dolor ad voluptas expedita consequuntur aperiam inventore eaque. Dolorum facilis aut eum a delectus. Fugit velit quas harum quisquam amet provident inventore. Repudiandae repudiandae delectus.
      </p>
      <div class="row">
      
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <img src="/assets/destinosCancun.jpg" class="img-fluid rounded-circle w-20">
              <h3>Cancún</h3>
              <p>
                Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam mollitia eveniet!
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <img src="/assets/destinosItalia.jpg" class="img-fluid rounded-circle w-20">
              <h3>Italia</h3>
              <p>
                Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam mollitia eveniet!
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <img src="/assets/destinoVegas.jpg" class="img-fluid rounded-circle w-20">
              <h3>Las Vegas</h3>
              <p>
                Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam mollitia eveniet!
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <img src="/assets/destinoAfrica.jpg" class="img-fluid rounded-circle w-20">
              <h3>Africa</h3>
              <p>
                Dolor modi repudiandae quia beatae consectetur? Nam ullafugit ullam, accusamus! Totam mollitia eveniet!
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>