<section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card text-center border-secondary">
            <div class="card-body">
              <h3>Plan VIP</h3>
              <p>
                Amet alias a ipsa tempora ullam asperiores aperiam rem? 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-white bg-secondary">
            <div class="card-body text-center">
              <h3>Plan NITRO</h3>
              <p>
                Amet alias a ipsa tempora ullam asperiores aperiam rem? 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-center border-secondary">
            <div class="card-body">
              <h3>Plan viajero frecuente</h3>
              <p>
                Amet alias a ipsa tempora ullam asperiores 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-white bg-secondary text-center">
            <div class="card-body">
              <h3>Plan parejas</h3>
              <p>
                Amet alias a ipsa tempora ullam asperiores aperiam rem? 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="m5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="m-5">
          <h3>La calidad de nuestros productos</h3>
          <p>
            Consectetur dolor at delectus dolores fugiat! Rerum inventore cumque quidem corporis iusto temporibus nesciunt minima! Harum harum qui dolores natus dolore repudiandae quae animi aliquid nobis sed? Quod culpa quia?
          </p>
        </div>
      </div>
    </div>
  </section>